*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.users-list{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 10%;
  font-size: 20px;
}

.list{
  list-style: none;
}

.data{
  margin-top: 10px;
}

button{
  margin-top: 10px;
  margin-right: 10px;
}
